* {
    margin: 0;
}

.html {
    font-size: 58%;
}

:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
}

.body_font-properies {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
}

.invintation__statement-1_font-properties {
    font-family: 'Raleway', sans-serif;
    font-size: 6rem;
    font-weight: 700;
    text-align: center;
    color: var(--main-white);
}

.invintation__statement-1_margin {
    margin: 0;
}

.invintation__statement-1_padding {
    padding: 0;
}

.invintation__statement-2_block-display {
    display: block;
}

.invintation__statement-2_font-properties {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    font-style: italic;
    text-align: center;
    color: var(--main-white);
}

/* nav-section */

.nav {
    display: flex;
    justify-content: flex-end;
}

.nav_position {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
}

.nav_size {
    width: 100%;
}

.nav_red {
    background-color: #BE3144;
}

.nav__link {
    color: #F0F0F0;
    text-decoration: none;
}

.nav__link:hover {
    background-color: #45567d;
}

.nav__link_display-block {
    display: block;
}

.nav__link_paddings {
    padding: 1.3rem;
}

.nav__link_font-propeties {
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 1.4;
}

.nav__list {
    list-style: none;
}

.nav__list_display-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav__list_margins-paddings {
    margin: 0;
    padding: 0;
}

.nav__element {}

.nav__element_inline-block {
    display: inline-block;
}

/* Welcome section */

.welcome-section {
    width: 100%;
    height: 100vh;
    
    
}

.welcome-section_gradient-background {
    background: linear-gradient(to right, #373A3D, #1B1B1D);
}

.welcome-section_display-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome__title {
    display: flex;
    
    margin: 0;
}

.welcome__title_font-properties {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 7rem;
    text-align: center;
}


.welcome__text {
    display: flex;
}

.welcome__text_font-properties {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: var(--main-red);
    
    margin: 0;
}

/* work-section */

.project-img {
    width: 100%;
    height: auto;
    
    padding-bottom: 15px;
}

.project-title {}

.project-title_font-properties {
    text-decoration: none;
    color: var(--main-white);
}

.work__container {}

.work__container_display-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-between;
}

.work__example {
    background-color: var(--main-gray);
    
    display: block;
    
    width: 30%;
    margin-bottom: 30px;
    padding-bottom: 15px;
}

.work__link {
    width: auto;
    height: auto;
}

.work-section {
    width: 100%;
    height: auto;
    padding: 10rem 0;
    
    text-align: center;
}

.work-section_blue-background {
    background-color: var(--main-blue);
}

.work__title {
    max-width: 600px;
    border-bottom: 0.2rem solid var(--main-white);
}

.work__title_font-properties {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 4.2rem;
    text-align: center;
}

.work__title_margin-bottom-6rem {
    margin: 0 auto 6rem auto;
}

/* footer */

.footer {}

.footer_display-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer_100px-padding {
    padding: 100px;
}

.footer_color-gray {
    background-color: #303841;
}

.footer_position {
    height: 80vh;
}

.social {}

.social_align-center {
    text-align: center;
}

.social_none-list-style {
    list-style: none;
}

.social__element_15px-padding {
    padding: 15px;
}

.social__element_block-display {
    display: inline-block;
}

.social__element_font-properties {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}

.social__link {
    transition: transform 0.3s ease-out;
}

.social__link:hover {
    transform: translateY(8px);
}

.social__link_display-block {
    display: block;
}

.social__link_font-properties {
    color: var(--main-white);
}

.social__link_none-decoration {
    text-decoration: none;
}

.social_none-margin {
    margin: 0;
}

.social_top-padding {
    padding: 30px 0 0 0;
}
